<!DOCTYPE html>
<html>
<head>
  <title>Codebreaker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= surveyor_includes %>

   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container"><!-- container -->
      <div class="navbar-header page-scroll"><!-- navbar-header -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= image_tag 'logo.gif', :size=> "190x50"%>
      </div><!-- /navbar-header -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><!--.nav-collapse -->
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden"><a href="#page-top"></a></li>
          <%= nav_link 'Home', root_path %>
          <%= nav_link 'Share', "/surveys" %>
          <%= nav_link 'About', about_path %>

          <% if user_signed_in? %>
          <li><%= link_to "Dashboard", user_dashboard_path%></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
      <% end %>
    </div><!--/.container -->
  </nav>

  <div class="container"><!-- container -->
    <%= yield %>
  </div><!-- /container -->

  <!-- Footer -->
  <footer class="text-center">
      <div class="footer-above">
          <div class="container">
              <div class="row">
                  <div class="footer-col col-md-6">
                      <h4>Principal Investigator</h3>
                      <ul class="list-unstyled">
                        <li>Stacey Shiovitz, MD</li>
                      </ul>
                      <h4>Senior Scientific Advisors</h4>
                      <ul class="list-unstyled">
                        <li>William M. Grady, Ph.D.</li>
                        <li>Kevin R. Wood, Ph.D.</li>
                      </ul>
                  </div>
                  <div class="footer-col col-md-6">
                      <h4>Supporters</h4>
                      <p>This website was constructed by volunteers
                        participating in <a href="http://civichack.adlerplanetarium.org">Civic Hack Day</a>
                        at Chicago's <a href="http://www.adlerplanetarium.org">Adler Planetarium</a>
                        on June 6-7, 2015.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-below">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      Copyright &copy; Cancer Codebreaker 2015
                  </div>
              </div>
          </div>
      </div>
  </footer>
</body>
</html>